<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据可视化</title>
    <link rel="stylesheet" href="/static/css/dataVis.css" type="text/css">
    <link rel="icon" href="/static/photos/logos/博.png">
</head>
<body>
<!--头部开始-->
<header>
    <nav>
        <ul>
            <li class="logo"><a href="">bolon</a></li>
            <li><a href="/">主页</a></li>
            <li><a href="dataAnaly.html">数据分析</a></li>
            <li><a href="dataVis.html">数据可视化</a></li>
            <li><a href="my-work.html">我的工作</a></li>
        </ul>
    </nav>
</header>
<!--头部结束-->

<!-- 项目区域开始 -->
<img id="bg-img" src="/static/photos/bulb-field.png">
<section class="figures">
    <figure class="smblock">
        <a href="static/data-pages/hubei-yiqin.html" target="_blank">
        <img src="/static/photos/dataVis/hubei.png">
            <figcaption>
                <p class="caption">湖北省疫情可视化</p>
                <p class="date">---2020/2/12</p>
            </figcaption>
        </a> 
    </figure>
</section>
<!-- 项目区域结束 -->
</body>
</html>