<!DOCTYPE html>
<html lang="zh-en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolon|波龙的主页</title>
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <link rel="icon" href="/static/photos/logos/博.png">
</head>
<body>
    <!--头部开始-->
    <header>
        <nav>
            <ul>
                <li class="logo"><a href="">bolon</a></li>
                <li><a href="/">主页</a></li>
                <li><a href="dataAnaly.html">数据分析</a></li>
                <li><a href="dataVis.html">数据可视化</a></li>
                <li><a href="my-work.html">我的工作</a></li>
            </ul>
        </nav>
    </header>
    <!--头部结束-->
    <section>
        <!--背景视频-->
        <video src="/static/photos/skydiving.mp4" autoplay muted loop></video>

        <!-- 背景音乐 -->
        <div id="musics">
            <h3>来点Music？Click👇Here！</h3>
            <audio src="/static/musics/reality.mp3" controls loop></audio>
        </div>

        <!--自我介绍-->
        <div id="self-intro">
            <h1>Hi,我是Bolon</h1>
            <p>本科学的<strong>园林</strong><br>
                做过设计，搬过砖，种过花草</p>
            <p>曾去<strong>澳大利亚打工度假一年</strong><br>
                看过许多风景，也认识了很多朋友</p>
            <p>回来后进入一家<strong>智慧农业公司</strong><br>
                用现代科技赋能传统农业</p>
            <p>目前在自学<strong>数据分析和可视化</strong><br>
                </p>
            <p>在这里会展示些<strong>练习作品</strong>
                </p>
            <p>此外还可以<strong>👇关注我</strong>哦！</p>
            <ul>
                <li>
                    <a href="https://github.com/Bolonzhang" target="_blank">
                        <img src="/static/photos/icons/github.png" alt="github">
                    </a>
                </li>
                <li>
                    <a href="photos/gzh-erweima.png" target="_blank">
                        <img src="/static/photos/icons/gongzhonghao.png" alt="bizhan">
                    </a>
                </li> 
                <li>
                    <a href="https://www.zhihu.com/people/bolonzhang" target="_blank">
                        <img src="/static/photos/icons/zhihu.png" alt="zhihu">
                    </a>
                </li>
                <li>
                    <a href="https://space.bilibili.com/12571648" target="_blank">
                        <img src="/static/photos/icons/bizhan.png" alt="bizhan">
                    </a>
                </li> 
            </ul>
        </div>
    </section>
</body>
</html>